body {
    color: white;
    background-image: url("./background.jpg");
}

#calculator {
    width: 350px;
    height: 500px;
    border-radius: 5%;
    display: grid;
    grid-template-columns: repeat (5, 1fr);
    grid-template-rows: 62px 88x repeat (5, 51px);
    background-color: rgb(68, 71, 71);
    gap: 10px;
    padding: 20px;
    position: fixed;
    top: 8%;
    left: 20%;
    transform: rotate(-5deg) scale(0.9);
    border: solid 7px rgb(49, 49, 49);
    box-shadow: 20px -3px 15px 15px #ca8e01;
}

.calc-button {
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 2px 2px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: bold;
    transition: linear 50ms;
}

.calc-button:active {
    box-shadow: inset 0px 0px 1px 2px black;
    transform: translate3d(1px, 1px, 5px);
    filter: brightness(95%);
}

/* Duplicate of the previous one, but for keyboard input */
div.active-button {
    box-shadow: inset 0px 0px 1px 2px black;
    transform: translate3d(1px, 1px, 5px);
    filter: brightness(95%);
}

#calc-name {
    grid-row: 1;
    grid-column: span 5;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#solar {
    height: 50%;
    background-color: rgb(133, 134, 130);
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    border-radius: 0;
    gap: 2px;
}

#solar div {
    width: 20px;
    height: 30px;
    padding: 0;
    background-color: rgb(36, 36, 36);
    flex: 1 1 0;
}

#screen {
    grid-column: 1/6;
    grid-row: 2;
    border: 3px black;
    background-color: rgb(225, 236, 199);
    height: min-content;
    text-align: right;
    width: 95%;
    justify-self: right;
}


#display-background {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: rgb(175, 187, 163);
    font-family: Segment7Standard, monospace;
    font-size: 60px;
    padding: 6px;
    position: absolute;
    top: 100px;
    left: 42px;
    z-index: 0;
    opacity: 20%;

}

#display {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Segment7Standard, monospace;
    font-size: 60px;
    padding: 6px;
    z-index: 1;
    height: min-content;
}

#on {
    grid-column: 1;
    grid-row: 3/span 2;
    font-size: 20px;
    background-color: rgb(95, 145, 95);
    margin-top: 5px;
    margin-bottom: 5px;

}

#memory {
    grid-column: 1/ span 1;
    grid-row: 5/ span 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}


.memory-button {
    background-color: rgb(20, 20, 20);
    height: 100%;
    flex: 1;
    font-size: 20px;
    max-height: 55px;
}

#numbers-buttons-container {
    grid-column: 2/ span 3;
    grid-row: 3/ span 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (4, 1fr) auto;
    gap: 10px;

    /* background-color: wheat; */

}

.number-button {
    background-color: rgb(175, 175, 175);
    width: 100%;
}



#operators-buttons-container {
    grid-column: 5/ span 1;
    grid-row: 3/ span 4;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.operator-button {
    background-color: rgb(20, 20, 20);
    flex: 1;
    height: 100%;
    width: 100%;

}

#clearbuttons-container {
    grid-column: 1/ span 1;
    grid-row: 7;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.clearbutton {
    background-color: rgb(189, 118, 123);
    height: 100%;
    flex: 1;
    font-size: 20px;

}

.modifier-button {
    background-color: rgb(100, 100, 100);
}

#negative {
    font-size: 20px;
}

.equal-button {
    border-radius: 5%;
    grid-row: 7/8;
    grid-column: 2/ span 4;
    background-color: rgb(20, 20, 20);
}